:root {
--primary: #ffffff;
--dark: #1a1a1a;
--secondary: #dce9d5;
--tertiary: #788585;
--light-dark: #a1a0a1;
--border-radius: 0.3rem;

}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  
}
.custom-bg {
    z-index: -1;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.goRight{
    float: right;
}
header li a:hover {
    text-decoration: none;
    color: black;
}
  .custom-nav{
      background-color:transparent;
  }
 .custom-font {
      font-size: 25px;
      
      color: rgb(255, 255, 255);
      -webkit-text-stroke: .75px black;
  } 

  .hero {
    margin-top: 2%;
    padding: 0% 4%;
    background-color: var(--dark);
    color: var(--primary);
  }
  .title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
  }
  